# Assignment-4

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\bhavith\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\bhavith\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\bhavith\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\bhavith\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\bhavith\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: sniffio in c:\users\bhavith\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\bhavith\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\bhavith\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\bhavith\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\bhavith\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\bhavith\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\bhavith\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\bhavith\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\bhavith\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\bhavith\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\bhavith\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\bhavith\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [129]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys 
import time
import requests
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import xlsxwriter
from bs4 import BeautifulSoup

import time
import warnings
warnings.filterwarnings('ignore')

In [62]:
!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: beautifulsoup4 in c:\users\bhavith\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\bhavith\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=d8ca65cd9809dbd20c9299b2622ed28c9cf2e7dbc4700b357541ee3b853a9572
  Stored in directory: c:\users\bhavith\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in c:\users\bhavith\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bhavith\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bhavith\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\bhavith\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bhavith\anaconda3\lib\site-packages (from requests) (2022.9.14)

# Question -1

Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank B) Name C) Artist D) Upload date E) Views

In [200]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()
time.sleep(5)

In [201]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [202]:
ranks=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in ranks:
    rank=i.text
    Rank.append(rank)
    
names=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in names:
    name=i.text
    Name.append(name)

    
artists=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in artists:
    art=i.text
    Artist.append(art)
    
    
upload_date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in upload_date:
    date=i.text
    Upload_date.append(date)
    
views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in views:
    view=i.text
    Views.append(view)

In [203]:
print(len(Rank),len(Name),len(Artist),len(Upload_date),len(Views))

30 30 30 30 30

In [204]:
df=pd.DataFrame()

df['Video_Rank']= Rank
df['Video_Names'] =Name
df['Video_Artist'] =Artist
df['Video_Published'] =Upload_date
df['Video_Viewa'] =Views
df

,Video_Rank,Video_Names,Video_Artist,Video_Published,Video_Viewa
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[26]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[27]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[30]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[36]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[41]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[46]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[47]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[49]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[50]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[51]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[52]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.38

# Question-2

Scrape the details teamIndia’sinternationalfixtures from bcci.tv 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [77]:
driver=webdriver.Chrome(r"chromedriver.exe")
url = ("https://www.bcci.tv/")
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [78]:
#click on international
international=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]')
international.click()
time.sleep(3)

In [79]:
# click on fixtures
fixtures= driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div/ul/li[1]")
fixtures.click()
time.sleep(3)

In [80]:
#Creating Empty list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [81]:
#Scraping Match_title
match_title= driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match_title:
    Match_title.append(i.text)
    
#Scraping Series
series= driver.find_elements(By.XPATH,'//div[@class="match-card-middle__inner d-flex justify-content-between"]')
for i in series:
    Series.append(i.text)
    
#Scraping Place
place= driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place:
    Place.append(i.text)   
    
#Scraping Date
date= driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    Date.append(i.text)   
    
#Scraping Time
time= driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time.append(i.text) 

Fixture=pd.DataFrame({})
Fixture['Match_title']=Match_title
Fixture['Series']=Series
Fixture['Place']=Place
Fixture['Date']=Date
Fixture['Time']=Time
Fixture

,Match_title,Series,Place,Date,Time
0,1st ODI -,Bangladesh Women\nvs\nIndia Women,"Shere Bangla National Stadium, Mirpur,",16 JUL 2023,9:00 AM IST
1,2nd ODI -,Bangladesh Women\nvs\nIndia Women,"Shere Bangla National Stadium, Mirpur,",19 JUL 2023,9:00 AM IST
2,3rd ODI -,Bangladesh Women\nvs\nIndia Women,"Shere Bangla National Stadium, Mirpur,",22 JUL 2023,9:00 AM IST
3,1st ODI -,West Indies\nvs\nIndia,"Kensington Oval,",27 JUL 2023,7:00 PM IST
4,2nd ODI -,West Indies\nvs\nIndia,"Kensington Oval,",29 JUL 2023,7:00 PM IST
5,3rd ODI -,West Indies\nvs\nIndia,"Brian Lara Stadium,",1 AUG 2023,7:00 PM IST
6,1st ODI -,India\nvs\nAustralia,"MA Chidambaram Stadium,",8 OCT 2023,2:00 PM IST
7,2nd ODI -,India\nvs\nAfghanistan,"Arun Jaitley Stadium,",11 OCT 2023,2:00 PM IST

# Question-3

Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [96]:
driver=webdriver.Chrome(r"chromedriver.exe")
url = ("http://statisticstimes.com/")
driver.get(url)
driver.maximize_window()

In [98]:
#Click Economy
Economy=driver.find_element(By.XPATH,'//div[@id="top"]/div[2]/div[2]/button')
Economy.click()

#Click India
India= driver.find_element(By.XPATH,'//div[@id="top"]/div[2]/div[2]/div/a[3]')
India.click()

#Click on India GPD
GDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]')
GDP.click()

GDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]')
GDP.click()

In [102]:
#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_19_20=[]
GSDP_at_current_price_18_19=[]
Share_18_19=[]
GDP_billion=[]

#Scraping Rank
rank= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)
        
#Scraping State
state= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)
                
#Scraping GSDP_at_current_price_19_20
gSDP_at_current_price_19_20= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gSDP_at_current_price_19_20:
    if i.text is None:
        GSDP_at_current_price_19_20.append('--')
    else:
        GSDP_at_current_price_19_20.append(i.text)
        
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)
        
#Scraping Share_18_19
share_18_19= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_18_19:
    if i.text is None:
        Share_18_19.append('--')
    else:
        Share_18_19.append(i.text)
        
#Scraping GDP_billion
gDP_billion= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)
        
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_19_20']=GSDP_at_current_price_19_20
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19
GDP_India['Share_18_19']=Share_18_19
GDP_India['GDP_billion']=GDP_billion
GDP_India

,Rank,State,GSDP_at_current_price_19_20,GSDP_at_current_price_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question-4

Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code

In [106]:
driver=webdriver.Chrome(r"chromedriver.exe")
url = ("https://github.com/")
driver.get(url)
driver.maximize_window()

In [108]:
Explore=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/deferred-side-panel/div/modal-dialog/div[3]/nav/nav-list/ul/li[1]/a/span[2]')
Explore.click()

In [109]:
Treading=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/main/div[1]/nav/div/a[3]')
Treading.click()

In [111]:
# Creating emplty list 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

#scraping Repository_title
repository_title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in repository_title:
    if i.text is None:
        Repository_title.append('--')
    else:
        Repository_title.append(i.text)
        
#scraping Repository_description
repository_description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in repository_description:
    if i.text is None:
        Repository_description.append('--')
    else:
        Repository_description.append(i.text)
        

#scraping Contributors_count
contributors_count=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
for i in contributors_count:
    if i.text is None:
        Contributors_count.append('--')
    else:
        Contributors_count.append(i.text)
        

#scraping Language_used
language_used=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
for i in language_used:
    if i.text is None:
        Language_used.append('--')
    else:
        Language_used.append(i.text)
        
Treding_rep=pd.DataFrame({})
Treding_rep['Repository_title']= Repository_title
Treding_rep['Repository_description']= Repository_description
Treding_rep['Contributors_count']= Contributors_count
Treding_rep['Language_used']= Language_used
Treding_rep

,Repository_title,Repository_description,Contributors_count,Language_used
0,ChaoningZhang / MobileSAM,This is the offiicial code for Faster Segment ...,301,Jupyter Notebook
1,ramonvc / freegpt-webui,GPT 3.5/4 with a Chat Web UI. No API key requi...,557,Python
2,THUDM / ChatGLM2-6B,ChatGLM2-6B: An Open Bilingual Chat LLM | 开源双语...,"1,077",Python
3,PowerShell / PowerShell,PowerShell for every system!,"6,844",C#
4,XingangPan / DragGAN,Official Code for DragGAN (SIGGRAPH 2023),"2,855",Python
5,hiyouga / ChatGLM-Efficient-Tuning,Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效...,219,Python
6,facebook / folly,An open-source C++ library developed and used ...,"5,236",C++
7,THUDM / ChatGLM-6B,ChatGLM-6B: An Open Bilingual Dialogue Languag...,"4,028",Python
8,practical-tutorials / project-based-learning,Curated list of project-based tutorials,"15,100",Built by
9,sohamkamani / javascript-design-patterns-for-h...,An ultra-simplified explanation of design patt...,468,Built by
10,papers-we-love / papers-we-love,Papers from the computer science community to ...,"5,525",Shell
11,cvg / LightGlue,LightGlue: Local Feature Matching at Light Speed,73,Jupyter Notebook
12,turboderp / exllama,A more memory-efficient rewrite of the HF tran...,109,Python
13,fuqiuluo / unidbg-fetch-qsign,获取QQSign通过Unidbg,82,Kotlin
14,jasontaylordev / CleanArchitecture,Clean Architecture Solution Template for ASP.N...,"2,801",C#
15,toeverything / AFFiNE,There can be more than Notion and Miro. AFFiNE...,903,TypeScript
16,ripienaar / free-for-dev,"A list of SaaS, PaaS and IaaS offerings that h...","7,745",HTML
17,EbookFoundation / free-programming-books,📚 Freely available programming books,"55,913",Built by
18,chat2db / Chat2DB,🔥 🔥 🔥 An intelligent and versatile general-pur...,461,Java
19,PlexPt / awesome-chatgpt-prompts-zh,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,"12,683",Built by
20,labmlai / annotated_deep_learning_paper_implem...,🧑‍🏫 59 Implementations/tutorials of deep learn...,"2,811",Jupyter Notebook
21,microsoft / Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...","11,301",JavaScript
22,dragonflydb / dragonfly,A modern replacement for Redis and Memcached,712,C++
23,wgwang / LLMs-In-China,中国大模型,77,Built by
24,StanGirard / quivr,🧠 Dump all your files into your private Genera...,"1,124",TypeScript

# Question-5

Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [146]:
driver=webdriver.Chrome(r"chromedriver.exe")
url = ("https:/www.billboard.com/")
driver.get(url)
driver.maximize_window()
time.sleep(6)

In [147]:
# clicking on option button
charts=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a").click()

In [148]:
Hot_song= driver.find_element(By.XPATH,'//span[@class="c-label  "][1]')
Hot_song.click()
time.sleep(3)

In [156]:
# Creating Blank List
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

#Scraping Song_name
song_name= driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in song_name:
    if i.text is None:
        Song_name.append('--')
    else:
        Song_name.append(i.text)

#Scraping Artist_name
artist_name= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in artist_name:
    if i.text is None:
        Artist_name.append('--')
    else:
        Artist_name.append(i.text)
        
#Scraping Last_week_rank
last_week_rank= driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li[4]/span')
for i in last_week_rank:
    if i.text is None:
        Last_week_rank.append('--')
    else:
        Last_week_rank.append(i.text)
        
#Scraping Peak_rank
peak_rank= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for i in peak_rank:
    if i.text is None:
        Peak_rank.append('--')
    else:
        Peak_rank.append(i.text)
        
#Scraping Weeks_on_board
weeks_on_board= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
for i in weeks_on_board:
    if i.text is None:
        Weeks_on_board.append('--')
    else:
        Weeks_on_board.append(i.text)

Hot_Songs=pd.DataFrame({})
Hot_Songs['Song_name']=Song_name
Hot_Songs['Artist_name']=Artist_name
Hot_Songs['Last_week_rank']=Last_week_rank
Hot_Songs['Peak_rank']=Peak_rank
Hot_Songs['Weeks_on_board']=Weeks_on_board

Hot_Songs

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Last Night,Morgan Wallen,1,1,21
1,Fast Car,Luke Combs,3,2,13
2,Calm Down,Rema & Selena Gomez,4,3,42
3,Flowers,Miley Cyrus,2,1,23
4,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...
95,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
96,Girl In Mine,Parmalee,-,97,1
97,Moonlight,Kali Uchis,90,80,11
98,Classy 101,Feid x Young Miko,-,99,1
99,Bluffin,Gucci Mane & Lil Baby,-,100,1

# Question-6

6.Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [157]:
driver=webdriver.Chrome(r"chromedriver.exe")
url = ("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
driver.get(url)
driver.maximize_window()
time.sleep(6)

In [158]:

# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

# Scraping Book_name
book_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)
        
# Scraping Author_name
author_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
# Scraping Volumes_sold
volumes_sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Author_name
publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

Top_selling_book=pd.DataFrame({})
Top_selling_book['Book_name']=Book_name
Top_selling_book['Author_name']=Author_name
Top_selling_book['Volumes_sold']=Volumes_sold
Top_selling_book['Publisher']=Publisher
Top_selling_book['Genre']=Genre
Top_selling_book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question-7

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings

In [159]:
driver=webdriver.Chrome(r"chromedriver.exe")
url = ("https://www.imdb.com/list/ls095964455/")
driver.get(url)
driver.maximize_window()
time.sleep(6)

In [160]:

# Creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#Scraping Name
name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)
    
#Scraping Year_span
year_span=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for i in year_span:
    Year_span.append(i.text)

    
#Scraping Genre
genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
for i in genre:
    Genre.append(i.text)
    
    
#Scraping Run_time
run_time=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
for i in run_time:
    Run_time.append(i.text)
    
#Scraping Ratings
ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
for i in ratings:
    Ratings.append(i.text)
    
#Scraping Votes
votes=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
for i in votes:
    Votes.append(i.text)
    
Top_shows=pd.DataFrame({})
Top_shows['Name']=Name
Top_shows['Year_span']=Year_span
Top_shows['Genre']=Genre
Top_shows['Run_time']=Run_time
Top_shows['Ratings']=Ratings
Top_shows['Votes']=Votes
Top_shows

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,174,613"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,252,359"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,903"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,699"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,848"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,984"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,014"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,614"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,410"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,404"

# Question-8

8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [171]:
driver=webdriver.Chrome(r"chromedriver.exe")
url = ("https://archive.ics.uci.edu/")
driver.get(url)
driver.maximize_window()
time.sleep(6)

In [172]:
view_dataste= driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_dataste.click()
time.sleep(4)

In [181]:
# creating empty lists for scraping data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#scraping Dataset name
data_name= driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
for i in data_name[1:]:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)

time.sleep(4)        
#Scraping data Type
data_type=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
for i in data_type[1:]:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)

time.sleep(4) 

#Scraping Task
task=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
for i in task[1:]:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        
time.sleep(4) 
                          
#Scraping Attribute_type
attribute_type=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]')
for i in attribute_type[1:]:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)

time.sleep(4)         
#Scraping No_of_instances
no_of_instances=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for i in no_of_instances[1:]:
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)

time.sleep(4)         
#Scraping No_of_attribute
no_of_attribute=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
for i in no_of_attribute[1:]:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)

time.sleep(4) 
#Scraping Year
year=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')
for i in year[1:]:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
        
data_dataset=pd.DataFrame({})
data_dataset['Dataset_name']= Dataset_name
data_dataset['Data_type']= Data_type
data_dataset['Task']= Task
data_dataset['Attribute_type']= Attribute_type
data_dataset['No_of_instances']= No_of_instances
data_dataset['No_of_attribute']= No_of_attribute
data_dataset['Year']= Year

In [182]:
data_dataset

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Attributes,7/1/1988
1,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Attributes,5/1/1996
2,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,17 Attributes,9/14/2020
3,Diabetes,,,"Categorical, Integer",,20 Attributes,N/A
4,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,8 Attributes,10/6/2019
5,Wine,Multivariate,Classification,"Integer, Real",178 Instances,13 Attributes,7/1/1991
6,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Attributes,6/1/1997
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Attributes,11/1/1995
8,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Attributes,4/27/1987

# Question-9

9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [195]:
driver=webdriver.Chrome(r"chromedriver.exe")
url = ("https://www.naukri.com/")
driver.get(url)
driver.maximize_window()
time.sleep(6)

In [196]:
search=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
search.send_keys('Data Science')

search_btn=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search_btn.click()

In [199]:
#Creating emepty list

Designation=[]
Company=[]
Skills_they_hire=[]
Location=[]

#Scraping Company 
company=driver.find_elements(By.XPATH,'//div[@class="companyInfo subheading"]/a')
for i  in company[0:15]:
    Company.append(i.text)  
    
#Scraping Designation 
designation=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i  in designation[0:15]:
    Designation.append(i.text)    
     
    
#Scraping Skills_they_hire 
skills_they_hire=driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i  in skills_they_hire[0:15]:
    Skills_they_hire.append(i.text)
    

    
#Scraping Location 
location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i  in location[0:15]:
    if i.text is None:
        
        Location.append('--')
    else:
        Location.append(i.text)
    
    

Recruiters=pd.DataFrame({})
Recruiters['Company']= Company
Recruiters['Designation']= Designation
Recruiters['Skills_they_hire']= Skills_they_hire
Recruiters['Location']= Location
Recruiters

,Company,Designation,Skills_they_hire,Location
0,Arbeit Associates,Data Science Engineer,SQL\nPython\nAnalytics\nGoogle Analytics\nData...,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore..."
1,AVE-Promagne Business Solutions,L&D Trainer - Python & Data Science/Data Analy...,Python\nMachine\nScience\nDevelopment\nMachine...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
2,Transunion,Sr Analyst - Data Science and Analytics,Analytics\nFinance\nBusiness intelligence\nQua...,"Pune, Chennai"
3,4.2\n190 Reviews,Manager/Senior Manager - Data Science,Data Science\nNatural language processing\nDat...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
4,Axtria India,Data Science Engineer,Vision\nAnalytics\nDeep Learning\nNetworking\n...,Bangalore/Bengaluru
5,3.4\n315 Reviews,Engineer II- Data Science & Analytics,Data Science\nstatistical modeling\nmachine le...,"Hybrid - Bangalore/ Bengaluru, Karnataka(Yelah..."
6,Bizongo,Data Science Engineer,python\nnumpy\nmachine learning\ntensorflow\nP...,"Bangalore/ Bengaluru, Karnataka(Electronic City)"
7,3.5\n59 Reviews,L&D Trainer - Python & Data Science/Data Analy...,Data Analytics\nIT training\nTraining\nMachine...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
8,Raytheon Technologies,Lead - Data Science - Financial Services,Data Science\nFinancial services\nScience\nDat...,Gurgaon/Gurugram
9,4.0\n50 Reviews,Head - Data Science & Analytics - Bank,Data Analytics\nData Science\nScience\nData mo...,Gurgaon/Gurugram
10,Augusta Infotech,Data Science Engineer,Data Science\nAzure\nArtificial Intelligence\n...,Hybrid - Bangalore/Bengaluru
11,AVE-Promagne Business Solutions,Data Science Manager - Machine Learning/Predic...,Data Science\nNeural networks\nDevelopment\nPr...,Bangalore/Bengaluru
12,Dimensions HRD Consultants,Unit Manager - Payments - Data Science/Senior ...,DBMS\nPython\nArchitecture\nData management\nD...,Pune
13,Dimensions HRD Consultants,Sr Programmer - Python / Data Science Developer,Data Modeling\nPython\nStatistics\nData Scienc...,"Mumbai, Maharashtra, Mumbai Suburban, Maharashtra"
14,Conneqt Digital,Manager/Sr. Manager - GPS Safety Data Sciences,GPS\nOperations\nHealthcare\nSR\nDevelopment\n...,Bangalore/Bengaluru

# END